* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Galindo", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --mainfont: "Galindo", sans-serif;
}

body {
    font-family: 'Galindo', sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 2400px;

}

#sppiner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    position: fixed;
    z-index: 1000;
}

.spinner {
    position: absolute;
    width: 15px;
    height: 15px;
}

.spinner div {
    position: absolute;
    width: 50%;
    height: 150%;
    background: #000000;
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
}

.spinner div:nth-child(1) {
    --delay: 0.1;
    --rotation: 36;
    --translation: 150;
}

.spinner div:nth-child(2) {
    --delay: 0.2;
    --rotation: 72;
    --translation: 150;
}

.spinner div:nth-child(3) {
    --delay: 0.3;
    --rotation: 108;
    --translation: 150;
}

.spinner div:nth-child(4) {
    --delay: 0.4;
    --rotation: 144;
    --translation: 150;
}

.spinner div:nth-child(5) {
    --delay: 0.5;
    --rotation: 180;
    --translation: 150;
}

.spinner div:nth-child(6) {
    --delay: 0.6;
    --rotation: 216;
    --translation: 150;
}

.spinner div:nth-child(7) {
    --delay: 0.7;
    --rotation: 252;
    --translation: 150;
}

.spinner div:nth-child(8) {
    --delay: 0.8;
    --rotation: 288;
    --translation: 150;
}

.spinner div:nth-child(9) {
    --delay: 0.9;
    --rotation: 324;
    --translation: 150;
}

.spinner div:nth-child(10) {
    --delay: 1;
    --rotation: 360;
    --translation: 150;
}

@keyframes spinner-fzua35 {

    0%,
    10%,
    20%,
    30%,
    50%,
    60%,
    70%,
    80%,
    90%,
    100% {
        transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    }

    50% {
        transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
    }
}

.container-fluid {
    max-width: 2400px !important;
    padding: 0 !important;
}

.full-page {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.place-oder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80vw;
}

.place-oder button {
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: #f8b400;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
}

.place-oder p,
h3 {
    text-align: center;
    padding: 5px;
    margin: 0px;
}

.place-oder img {
    height: calc(80%);
    width: calc(80%);
    object-fit: cover;
}
@media (max-width:1024px) {
    .place-oder img {
    height: calc(80%);
    width: calc(95%) !important;
    object-fit: cover;
}
#place-order-button {
    transition: all 0.5s ease;
    /* Add a transition effect */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f8b400;
    color: white;
    border: none;
    cursor: pointer;
}

.order-placed {
    background-color: #28a745;
    /* Change background color */
    color: white;
    /* Change text color */
}
